<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Crop Leaf Disease</title>
</head>
<style>
 body {
    text-align: center;
    padding-top: 100px;
}
form {
    display: inline-block;
}
  </style>
<body>



    
      <h1><span class="badge badge-success">Leaf Disease Prediction</span></h1>
  

    
      <form action = "{{ url_for('predict')}}" method = "post" enctype="multipart/form-data">
        <label for="crop">Choose Crop:</label>
      <select name="crop">
        <option>Cherry</option>
        <option>Strawberry</option>
        <option>Corn</option>
        <option>Potato</option>
        <option>Tomato</option>
      </select> 

  <br>
          <input type="file" name="file" />
          <input type = "submit" value="Upload">
      </form>

      <br><br><br>
        
        <h3>{{status}}</h3><br>
        <h3>{{chances}}</h3><br>
        <h3>{{remedy}}</h3><br>
        
      
    



</body>
</html>